@media (max-width: 576px) {
    .landing-img {
        width: 450px;
        height: 400px;
    }
}

.feature-icon-small {
    width: 3rem;
    height: 3rem;
}

.services-container {
    height: 80vh;
}