/* Base */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 0 var(--header-height) 0;
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

h1, h2, h3, h4 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
    font-family: 'Georgian', sans-serif;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* Style */
/* Extra Small Screens (Less than 412px) */
@media (max-width: 412px){
    .services-view-all{
        width: auto;
        margin-left: 4em;
    }

    .services-column-homepage {
        margin-left: 3em;
        width: 100%;
    }

    .services-row-homepage {
        margin: 0 !important;
    }

    #about-us {
        width: 100%;
        padding: 2em;
    }
}

/* Medium Screens (412px and above) */
@media (min-width: 778px) {
    
}

.landing-img {
    width: 700px;
    height: 500px;
}

ol {
    font-family: 'Montserrat', sans-serif;
    font-weight: 450;
    font-size: 1.25em;
    text-align: center;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 450;
    font-size: 1.25em;
}

/* Services (Homepage) */
.feature-icon-small {
    width: 3rem;
    height: 3rem;
}

/* About Us*/
#about-us {
    padding: 2.5em;
    display: flex;
    flex-wrap: wrap;
    
}

.card {
    border: 2px goldenrod solid;
    margin: 1em;
}

.card-title {
    padding: 1em !important;
}


/* Contact */


/* Services */
/* Extra Small Screens (Less than 412px) */
@media (max-width: 425px) {
    .services-container {
        margin: 0.8em !important;
        display: inline-block !important;
    }

    .navigation-header {
        flex-direction: column;
        padding: 0px 50px;
    }

    .home-icon-link {
        justify-content: center;
    }

    .home-link {
        justify-content: center;
    }
}

/* Medium Screens */
@media (min-width: 700px) and (max-width: 768px){
    .services-container {
        display: inline-block !important;
        margin: 2em !important;
        
    }

    .col {
        width: 18em !important;
        margin: 1em !important;
    }
}

.services-container {
    display: flex;
    margin-left: 8em;
    margin-top: 1em;
}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
}
  
/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
  
/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}
  
/* Position the front and back side */
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}
  
/* Style the front side (fallback if image is missing) */
.flip-card-front {
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 85%;
}
  
  /* Style the back side */
.flip-card-back {
    background-color: white;
    border: 2px solid goldenrod;
    transform: rotateY(180deg);
    font-size: 0.70rem;
}

.services-card-title {
    padding: 100px 0;
    color: black;
}

.materia-laboral {
    background-image: url("./images/Reunión.jpg");
}

.materia-familia {
    background-image: url(./images/materiafamilia.jpg);
}

.materia-civil {
    background-image: url(./images/Imagen\ centro-civico.webp);
}

.materia-admin {
    background-image: url(./images/Edificios\ Administrativo.jpg);
}

.tramites-notariales {
    background-image: url(./images/Notario.jpg);
}

.consultorias {
    background-image: url(./images/consultation.jpg);
}